.actuators{
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.actuators-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(270px, auto);
    grid-template-columns: 300px 300px;
    margin-bottom: 30px;
    justify-content: center;
}

.fan-actuator{
    grid-column: 1;
    grid-row: 1/3;
    box-shadow: 5px 8px rgb(0 0 0 / 25%), 0 8px 8px rgb(0 0 0 / 22%);
    background-color: var(--primary-color-dark-blue-dark);
    border-radius: 12px;
    padding-top: 50%;
}

.luminosity-actuator{
    grid-column: 2;
    grid-row: 1;
    box-shadow: 5px 8px rgb(0 0 0 / 25%), 0 8px 8px rgb(0 0 0 / 22%);
    background-color: var(--primary-color-dark-blue-dark);
    border-radius: 12px;
}

.luminosity-i{
    -webkit-appearance: none;
    height: 10px;
    background: linear-gradient(90deg, #fc5185 30%, #364f6b 30%);
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 1px 1px #284668;
}

.luminosity-i::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(231, 133, 149);
    border-radius: 50%;
    cursor: pointer;
}

.luminosity-value{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
}

.gas-actuator{
    grid-column: 2;
    grid-row: 2;
    box-shadow: 5px 8px rgb(0 0 0 / 25%), 0 8px 8px rgb(0 0 0 / 22%);
    background-color: var(--primary-color-dark-blue-dark);
    border-radius: 12px;
}

.gas-alert-on{
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: var(--primary-color-light-blue);
    margin-top: 15px;
}

.gas-alert-off{
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
}

.actuator-title-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
}

.actuator-ilustration-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.actuator-input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.toggle-button{
    width: 60px;
    height: 30px;
    background-color: rgb(0 0 0 / 22%);
    padding: 2px;
    border-radius:20px;
}

.toggle-button > .toggle-inner-circle{
    width: 25px;
    height: 25px;
    background-color: var(--primary-color-gray);
    border-radius: 50%;
    animation-name: toggle-left;
    animation-duration: 300ms;
    margin-left: 0px;
    cursor: pointer;
}

.toggle-button-active{
    width: 60px;
    height: 30px;
    padding: 2px;
    border-radius:20px;
    background-color: var(--primary-color-pink);
}

.toggle-button-active > .toggle-inner-circle{
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color-gray);
    border-radius: 50%;
    animation-name: toggle-rigth;
    animation-duration: 300ms;
    margin-left: 30px;
}

@keyframes toggle-rigth{
    0%   {margin-left: 0px;}
    25%  {margin-left: 10px;}
    50%  {margin-left: 20px;}
    100% {margin-left: 30px;}
}

@keyframes toggle-left{
    0%   {margin-left: 30px;}
    25%  {margin-left: 20px;}
    50%  {margin-left: 10px;}
    100% {margin-left: 0px;}
}