:root{
  --primary-color-pink : #fc5185;
  --primary-color-dark-blue : #364f6b;
  --primary-color-dark-blue-light : #4c5b6d;
  --primary-color-dark-blue-dark : #163961;
  --primary-color-light-blue : #43dde6;
  --primary-color-gray: #f0f0f0;
}

*{
  font-family: 'Open Sans', sans-serif;
}
